---
import Header from "../components/header.astro";
---

<!doctype html>
<html lang="ru">
	<head>
		<title>Марчин Кошка</title>
		<Header />
		<meta name="ag:test" content="Test okay" />
		<link rel="stylesheet" href="/css/smorodina.css" />
	</head>
	<body class="main">
		<main class="smorodina">
			<h1>Марчин Кошка<br />Смородина</h1>
			<p>
				<a href="/release/smorodina/">Послушать</a>
			</p>
			<p><a href="/main/">Основной сайт</a></p>
		</main>
	</body>
</html>
