---
import Header from "../components/header.astro";
import Filter from "../components/filter.astro";
---

<!doctype html>
<html lang="ru">
	<head>
		<title>Марчин Кошка</title>
		<Header />
		<meta name="ag:test" content="Test okay" />
	</head>
	<body class="main">
		<Filter />
		<hgroup>
			<h1>Марчин<br />Кошка</h1>
			<!-- <menu>
				<a href="/release/tropik/">
					<div class="bg"></div>
					<span class="psycho">Тропик Козерога</span>
					<span class="overpsycho special">Тропик Козерога</span>
				</a>
			</menu> -->
			<!-- <menu>
				<a href="/whois/">
					<div class="bg"></div>
					<span class="psycho">↑ Кто это</span>
					<span class="overpsycho">↑ Кто это</span>
				</a>
			</menu> -->
			<menu class="group-end">
				<a href="https://marchin.timepad.ru/event/3232679/">
					<div class="bg"></div>
					<span class="psycho">Концерт!</span>
					<span class="overpsycho">Концерт!</span>
				</a>
			</menu>
			<menu class="group-end">
				<a href="/releases/">
					<div class="bg"></div>
					<span class="psycho">Релизы</span>
					<span class="overpsycho">Релизы</span>
				</a>
			</menu>
			<menu>
				<a href="https://music.yandex.ru/artist/7049418">
					<div class="bg"></div>
					<span class="psycho">Я.Музыка</span>
					<span class="overpsycho">Я.Музыка</span>
				</a>
			</menu>
			<menu>
				<a
					href="https://music.apple.com/us/artist/%D0%BC%D0%B0%D1%80%D1%87%D0%B8%D0%BD-%D0%BA%D0%BE%D1%88%D0%BA%D0%B0/1454612862"
				>
					<div class="bg"></div>
					<span class="psycho">Эппл Мьюзик</span>
					<span class="overpsycho">Эппл Мьюзик</span>
				</a>
			</menu>
			<menu class="group-end">
				<a
					href="https://open.spotify.com/artist/7tgA0ye0kGXPMs8zCnonp5?si=5opvxnQHRe6XAL_FKKg4Bw"
				>
					<div class="bg"></div>
					<span class="psycho">Спотифай</span>
					<span class="overpsycho">Спотифай</span>
				</a>
			</menu>
			<menu>
				<a href="https://t.me/marchin_koshka">
					<div class="bg"></div>
					<span class="psycho">Телеграм</span>
					<span class="overpsycho">Телеграм</span>
				</a>
			</menu>
			<menu>
				<a href="https://instagram.com/marchin_koshka">
					<div class="bg"></div>
					<span class="psycho">И*******м</span>
					<span class="overpsycho">И*******м</span>
				</a>
			</menu>
			<menu>
				<a href="https://youtube.com/@marchin_koshka">
					<div class="bg"></div>
					<span class="psycho">Ютуб</span>
					<span class="overpsycho">Ютуб</span>
				</a>
			</menu>
			<menu>
				<a href="https://vk.com/marchin_koshka">
					<div class="bg"></div>
					<span class="psycho">ВК</span>
					<span class="overpsycho">ВК</span>
				</a>
			</menu>
		</hgroup>

		<footer>
			© 2014—2025, Александр Голованов
		</footer>
	</body>
</html>
