---
import Header from "../components/header.astro";
import Filter from "../components/filter.astro";
---

<!doctype html>
<html>
	<head>
		<title>Марчин Кошка</title>
		<Header />
		<meta name="ag:test" content="Test okay" />
	</head>
	<body class="main">
		<Filter />
		<hgroup>
			<h1>Марчин<br />Кошка</h1>
			<menu>
				<a href="/releases/">
					<div class="bg"></div>
					<span class="psycho">Релизы</span>
				</a>
			</menu>
			<div>
				<a href="https://music.yandex.ru/artist/7049418">
					<div class="bg"></div>
					<span class="psycho">Я.Музыка</span>
				</a>
			</div>
			<div>
				<a
					href="https://music.apple.com/us/artist/%D0%BC%D0%B0%D1%80%D1%87%D0%B8%D0%BD-%D0%BA%D0%BE%D1%88%D0%BA%D0%B0/1454612862"
				>
					<div class="bg"></div>
					<span class="psycho">Эппл Мьюзик</span>
				</a>
			</div>
			<div>
				<a
					href="https://open.spotify.com/artist/7tgA0ye0kGXPMs8zCnonp5?si=5opvxnQHRe6XAL_FKKg4Bw"
				>
					<div class="bg"></div>
					<span class="psycho">Спотифай</span>
				</a>
			</div>
			<div>
				<a href="https://t.me/marchin_koshka">
					<div class="bg"></div>
					<span class="psycho">Телеграм</span>
				</a>
			</div>
			<div>
				<a href="https://instagram.com/marchin_koshka">
					<div class="bg"></div>
					<span class="psycho">И*******м</span>
				</a>
			</div>
			<div>
				<a href="https://youtube.com/@marchin_koshka">
					<div class="bg"></div>
					<span class="psycho">Ютуб</span>
				</a>
			</div>
			<div>
				<a href="https://vk.com/marchin_koshka">
					<div class="bg"></div>
					<span class="psycho">ВК</span>
				</a>
			</div>
		</hgroup>
	</body>
</html>
