---
import Header from "../components/header.astro";
---

<!doctype html>
<html lang="ru">
	<head>
		<title>Марчин Кошка</title>
		<Header />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/myzarya.css" />
	</head>
	<body class="main">
		<main class="myzarya">
			<h1>
				<span class="sticky">Марчин Кошка</span><br />
				<span class="smaller">feat. Даша Миклашевич</span><br />
				Мы заря
			</h1>
			<p>
				<a href="https://band.link/myzarya">Сделать пресейв</a> ·
				<a href="/release/myzarya/">Страница релиза</a>
			</p>
			<p><a href="/main/">Основной сайт</a></p>
		</main>
	</body>
</html>
