---
import Header from "../components/header.astro";
---

<!doctype html>
<html lang="ru">
	<head>
		<title>Марчин Кошка</title>
		<Header />
		<meta name="ag:test" content="Test okay" />
		<link rel="stylesheet" href="/css/munk9.css" />
	</head>
	<body class="main">
		<main>
			<div>
				<a class="largeimagelink"
					href="https://moscow.qtickets.events/181673-marchin-koshka-bolshoy-osenniy-kontsert"
					><img class="name" src="/splashes/munk9name.webp" /></a
				>
			</div>
			<section class="smorodina">
				<h1>10.10 · <nobr>Мунк Бар</nobr></h1>
				<p>
					<a
						href="https://moscow.qtickets.events/181673-marchin-koshka-bolshoy-osenniy-kontsert"
						>Купить билет</a
					>
					· <a href="/main/">Основной сайт</a>
				</p>
			</section>
		</main>
	</body>
</html>
